@import url(./fonts.css);
@import url(./reset.css);
/* veriables */

:root {
    --font-family: "Montserrat", sans-serif;

    --border-radius-100: 100%;
    --border-radius-30: 30px;
    --border-radius-23: 23px;
    --border-radius-15: 15px;
    --border-radius-10: 10px;
    --border-radius-5: 5px;
    --border-none: none;
    --border-details: 0.50px solid rgba(0, 0, 0, 0.1); 

    --box-shadow-header: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
    --box-shadow-footer: 0 -5px 20px 0 rgba(0, 0, 0, 0.25);
    /* --box-shadow-block: 0px 0px 8px 0px rgba(34, 60, 80, 0.5) inset; */

    --background-color-white: #efefef;
    --background-color-light: #fff;
    --background-color-accent: #357ed6; 

    --color-black: #202020;
    --color-white: #fff;
    --color-accent: #387ACD; 
    --color-light-gray: rgba(0, 0, 0, 0.6);

    --transition-duration: 0.3s;

    --padd-x: clamp(10px, 2.22vw, 30px);

    --container-width: 1350px;

    --cursor-light: url(../icon/cursor/light/pointer.cur), auto;
    --cursor-light-pointer: url(../icon/cursor/light/link.cur), auto;
}
.dark-theme {
    --border-details: 0.50px solid rgba(255, 255, 255, 0.1); 
    
    --background-color-white: #282828;
    --background-color-light: #303030;
    
    --color-light-gray: rgba(255, 255, 255, 0.4);
    --color-black: #fff;

    --cursor-light: url(../icon/cursor/dark/pointer.cur), auto;
    --cursor-light-pointer: url(../icon/cursor/dark/link.cur), auto;
}

/* globals */

@supports(interpolate-size: allow-keywords){
    :root {
        interpolate-size: allow-keywords;
    }
    [open]::details-content {
        height: auto;
    }
}
::details-content {
    transition: height 0.5s ease, content-visibility 0.5s ease allow-discrete;
    height: 0;
    overflow: clip;
}
:focus-visible {
    outline: 2px dashed var(--background-color-accent);
    outline-offset: 2px 2px;
}
body {
    line-height: 1;
    background-color: var(--background-color-white);
    color: var(--color-black);
    transition: var(--transition-duration);
    font-family: var(--font-family);
    font-size: clamp(18px, 1.55vw, 21px);
    font-weight: 400;
    cursor: var(--cursor-light);
}
a, button {
    white-space: nowrap;
    cursor: var(--cursor-light-pointer);
    text-decoration: none;
    color: inherit;
    transition: var(--transition-duration);
    text-underline-position: under;
}
.button {
    display: inline-flex;
    align-items: center;
    padding-inline: 55px;
}
.container {
    max-width: var(--container-width);
    padding-inline: var(--padd-x);
    margin: 0 auto;
}
b {
    color: var(--color-accent);
    font-weight: 700;
}
main {
    min-height: 60vw;
}

/* header */

.header {
    width: 100%;
    display: inline-flex;
    align-items: center;
    height: 100px;
    box-shadow: var(--box-shadow-header);
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--background-color-white);
}
.header__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-inline: var(--padd-x);
}
.header__logo {
    z-index: 102;
}
.header__logo--2 {
    display: none;
}
.header__menu {
    display: flex;
    align-items: center;
    column-gap: clamp(10px, 2.22vw, 30px);
}
.header__menu-list {
    display: flex;
    column-gap: clamp(10px, 3.12vw, 60px);
}
.header__menu-link {
    font-weight: 500;
    position: relative;
    padding-bottom: 3px;
}
.header__menu-link:hover {
    color: var(--color-accent);
}
.active {
    color: var(--color-accent);
}
.header__button,
.overlay__button {
    height: 50px;
    border: 1px solid var(--color-black);
    border-radius: var(--border-radius-30);
}
.header__button:hover,
.overlay__button:hover {
    border: var(--border-none);
    color: var(--background-color-white);
    background-color: var(--background-color-accent);
}
/* header-theme */
.theme-toggle {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: var(--border-radius-100);
    border: var(--border-none);
    background-color: var(--background-color-white);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 102;
}
.theme-toggle img {
    transition: transform 0.5s ease, opacity 0.3s ease;
    position: absolute;
}
.swap-light {
    transform: rotate(0deg);
    opacity: 0;
}
.swap-dark {
    transform: rotate(0deg);
    opacity: 1;
}
.dark-theme .swap-light {
    transform: rotate(360deg);
    opacity: 1;
}
.dark-theme .swap-dark {
    transform: rotate(-360deg);
    opacity: 0;
}
/* header-buger */
.header__burger {
    order: 1;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
    display: none;
    flex-direction: column;
    justify-content: space-around;   
    background-color: transparent;                                               
    padding-right: 5px;
    cursor: pointer;
    z-index: 102;
    border: var(--border-none);
    padding: 0;
}
.header__burger-line {
    width: 90%;
    border: 2px solid var(--color-black);
    transition: var(--transition-duration);
}
.header__burger.active .header__burger-line:nth-child(1) {
    transform: translateY(14px) rotate(45deg);
}
.header__burger.active .header__burger-line:nth-child(2) {
    opacity: 0;
}
.header__burger.active .header__burger-line:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}
/* header-overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-duration);
    color: var(--color-black);
}
.overlay.active {
    opacity: 1;
    visibility: visible;
}
.overlay__menu-item {
    margin: 2.5rem 0;
}
.overlay__contact {
    margin-top: 30px;
}

/* section 1 - info */

.info,
.contacts {
    margin-top: 30px;
}
.info__title,
.contacts__tittle {
    padding-inline: var(--padd-x);
    text-align: center;
    font-weight: 800;
    line-height: 125%;
    font-size: clamp(24px, 4.44vw, 40px);
}
.info__container {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
}
.info__row {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}

/* swiper */

.info__swiper {
    width: clamp(400px, 58vw, 870px);
    height: clamp(300px, 43.46vw, 652px);
    border-radius: var(--border-radius-15);
    cursor: grab;
}
.swiper__info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}
.info__swiper-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--border-radius-15);
}
.swiper__item {
    display: inline-flex;
    align-items: center;
    column-gap: 25px;
    height: 60px;
    background-color: var(--background-color-light);
    border-radius: var(--border-radius-30);
    padding-inline: 15px;
}
/* custom-button prev-next */
.custom-button-prev,
.custom-button-next {
    width: 25px;
    height: 25px;
    cursor: var(--cursor-light-pointer);
    display: flex;
    align-items: center;
    justify-content: center;
}
.custom-button-prev::after,
.custom-button-next::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 3px solid var(--color-light-gray);
    border-right: 3px solid var(--color-light-gray);
}
.custom-button-prev::after {
    transform: rotate(-135deg);
    margin-left: 4px;
}
.custom-button-next::after {
    transform: rotate(45deg);
    margin-right: 4px;
}
/* pagination */
.swiper-pagination-custom {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    flex-shrink: 0;
    background-color: var(--color-light-gray) !important;
    border-radius: 50%;
    cursor: var(--cursor-light-pointer) !important;
    transition: var(--transition-duration);
}
.swiper-pagination-bullet-active {
    background: var(--color-black) !important;
}
/* swiper END */
.info__details {
    display: flex;
    flex-direction: column;
    row-gap: clamp(10px, 2.6vw, 50px);
}
.info__details-list,
.contacts__list {
    background-color: var(--background-color-light);
    padding: 25px 35px;
    border-radius: var(--border-radius-15);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    box-shadow: var(--box-shadow-block);
}
.info__details-item,
.span-column,
.contacts__list-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.info__details-item-accent,
.contacts__item-accent {
    color: var(--color-accent);
}
.info__details-item-regular,
.contacts__item-regular {
    text-indent: 15px;
    white-space: nowrap;
}
.info__soc1al {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
    padding: 25px 29px;
    background-color: var(--background-color-light);
    border-radius: var(--border-radius-15);
    max-height: 110px;
    box-shadow: var(--box-shadow-block);
}
.info__soc1al-text {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    text-align: center;
    white-space: nowrap;
}
.info__soc1al-text-accent {
    color: var(--color-accent);
}
.info__soc1al-text-regular:first-child {
    font-weight: 500;
}
.info__soc1al-text-regular:last-child {
    color: var(--color-light-gray);
    font-size: clamp(18px, 1.80vw, 22px);
}
.info__soc1al-button {
    height: 47px;
    background-color: var(--background-color-accent);
    border-radius: var(--border-radius-23);
    color: var(--color-white);
    transition: var(--transition-duration);
}
.info__soc1al-button:hover {
    background-color: transparent;
    border: 1px solid var(--background-color-accent);
    color: var(--color-black);
}
.info-description {
    font-weight: 100;
    font-size: clamp(18px, 3.55vw, 32px);
    text-align: justify;
    line-height: 150%;
}

/* section-2 advantages */

.advantages {
    margin-top: 130px;
}
.advantages__inner {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
}
.advantages__title {
    font-weight: 800;
    line-height: 125%;
    font-size: clamp(24px, 2.96vw, 40px);
    text-align: center;
}
.advantages__list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}
.advantages-details {
    border: var(--border-details);
    border-radius: var(--border-radius-10);
}
.advantages-details[open] .advantages-summary {
    color: var(--color-accent);
}
.advantages-details[open] .advantages-summary::after {
    transform: rotate(-45deg);
}
.advantages-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 10px;
    padding-inline: 20px;
    cursor: var(--cursor-light-pointer);
}
.advantages-summary::marker {
    content: '';
}
.advantages-summary::after {
    content: '+';
    appearance: none;
    font-size: 50px;
    font-weight: 100;
    transition: var(--transition-duration);
}
.advantages-description {
    font-weight: 300;
    font-size: 18px;
    line-height: 140%;
    padding: 0 50px 20px 20px;
}

/* footer */

.footer {
    width: 100%;
    box-shadow: var(--box-shadow-footer);
    background-color: var(--background-color-white);
    display: inline-flex;
    align-items: center;
    height: 100px;
    margin-top: 100px;
}
.footer__row {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

/* contacts */

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts__row {
    max-width: 1588px;
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 25px;
    padding-inline: var(--padd-x);
}
.contacts__list {
    padding: 30px;
    max-width: 500px;
}
.contacts__list-item p {
    line-height: 110%;
    white-space: wrap !important;
}
.contacts__map {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-15);
    height: auto;
    padding-inline: 15px;
}
.contacts__map-title {
    color: var(--color-accent);
    font-size: 32px;
    text-align: center;
    padding: 25px 25px;
}
.contacts__map div {
    width: clamp(400px, 61.72vw, 1000px);
    height: 100%;
    padding: 15px;
    border-radius: var(--border-radius-15);
    box-shadow: 0px 0px 10px 2px rgba(53, 126, 214, 0.38) inset;
}
.contacts__map div iframe {
    border-radius: var(--border-radius-10);
    width: 100%;
    height: 100%;
}

/* specialties */

.specialties {
    margin-top: 30px;
}
.specialties__title {
    font-weight: 800;
    font-size: 40px;
    text-align: center;
}
.specialties__inner {
    padding-top: 40px;
}
.specialties__grid {
}
.specialties__grid-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.specialties__grid-item {
    max-width: 650px;
}
.first-card {
    border: 2px solid rgba(81, 205, 56, 0.1);
    border-radius: var(--border-radius-23);
    background: rgba(81, 205, 56, 0.1);
    color: #51cd38;
}
.specialties__grid-link {
    white-space: wrap;
}
.specialties__card {
    padding-inline: 40px;
    padding-block: 30px;
}
.specialties__card-id {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.specialties__id {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding-inline: 20px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius-30);
}
.specialties__id p {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-black);
}
.specialties__icon {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: var(--border-radius-100);
}
.specialties__card-subtitle {
    max-width: 566px;
    padding-top: 10px;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
}
.specialties__card-description {
    padding-top: 15px;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 120%;
}


/* media */

@media(max-width: 1260px) {
    .contacts {
        align-items: normal;
    }
    .contacts__map div {
        width: 100%;
        height: 400px;
    }
    .contacts__row {
        flex-direction: column;
    }
    .contacts__list {
        max-width: 100%;
    }
}
@media(max-width: 1180px) {
    .info__row {
        flex-wrap: wrap;
        row-gap: 30px;
    }
    .info__container {
        row-gap: 30px;
    }
    .info__details,
    .info__swiper,
    .swiper__info-container {
        width: 100%;
    }
    .info__details-item, 
    .info__details-item .span-column {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media(max-width: 1086px) {
    .header {
        height: 100px;
    }
    .header__menu {
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 10px;
    }
    .header__menu-list {
        column-gap: 15px;
    }
    .header__logo--2 {
        display: block;
    }
    .header__logo--1 {
        display: none;
    }
    .theme-toggle {
        order: 1;
    }
    .header__button {
        margin-left: auto;
    } 
}
@media(max-width: 900px) {
    .theme-toggle {
        width: 40px;
        height: 40px;
        margin-left: auto;
    }
    .theme-toggle img {
        width: 35px;
        height: 35px;
    }
}
@media(max-width: 767px) {
    .header {
        height: auto;
        padding: 5px 0 5px 0;
    }
    .header__logo img {
        width: 65px;
        height: 65px;
    }
    .header__row {
        column-gap: 20px;
    }
    .header__menu-list, .header__button {
        display: none;
    }
    .header__burger {
        display: flex;
    }
}
@media(max-width: 676px) {
    .contacts__map div {
        height: 300px;
    }
}
@media(max-width: 518px) {
    .advantages-summary {
        line-height: 140%;
        padding: 20px;
    }
    .advantages-description {
        padding: 0 20px 20px 20px;
    }
}
@media(max-width: 480px) {
    .contacts__map div {
        height: 250px;
    }
    .info-description {
        text-align: start;
    }
}